{% extends 'base.html.twig' %}

{% block title %} BlogMaster - Accueil {% endblock %}

{% block body %}

    <h1>Accueil</h1>

    {% if articles %}
        {% for article in articles %}
            <div>
                <p> {{ article.title }} </p>
                <p> {{ article.content }} </p>
                <p> {{ article.dateAdd|date('d/m/y') }} </p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
